.App {
  background-image: linear-gradient(to right, #ddf, lightgreen, #ddf);
  min-height: 100vh;
}

.container {
  margin-bottom: 100px;
}

.row {
  margin-top: 75px;
}

form {
  margin: 50px auto;
}

form > button {
  display: block;
  margin: 15px auto;
  width: 100%;
  padding: 25px;
}

h1 {
	margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #33f;
  text-decoration: none;
}
